.App {
  text-align: center;
  overflow-x: hidden;
  background-image: url('./assets/site-background.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
